/*
    You can add your own custom styles here.
*/
//友情链接双栏
@media (min-width: 1024px) {
    .article-list--compact.links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: none;
        box-shadow: none;
        
        article {
            background: var(--card-background);
            border: none;
            box-shadow: var(--shadow-l2);
            margin-bottom: 8px;
            border-radius: 10px;
            &:nth-child(odd) {
                margin-right: 8px;
            }
        }
    }
}
//修改代码块样式
.article-content {
    .highlight {
        padding-top: 30px; /* Adds space inside the top of the code box */
      }
  }

//更改标题字体为思源宋体
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap');
.article-details .article-title {
    font-family: "Noto Serif SC", "Noto Serif CJK SC", serif;
    font-weight: 700;
    line-height: 1.5;
}
//修复左侧边栏宽度
@media (min-width: 768px) {
    .sidebar.sticky {
        width: 100%;
    }
}
//取消文章脚注英文全部大写
.article-copyright span {
    text-transform: none;
}